@tailwind components;
@layer components {
  /* .layout {
    @apply bg-slate-200;
  } */

  @supports (-webkit-touch-callout: none) {
    .layout {
      min-height: 100vh;
      /* mobile viewport bug fix */
      min-height: -webkit-fill-available;
      max-height: -webkit-fill-available;
    }

    html {
      height: 100%;
      /* height: -webkit-fill-available; */
    }
  }

  @supports not (-webkit-touch-callout: none) {
    .layout {
      min-height: 100vh;
      height: 100vh;
    }

    html {
      height: 100vh;
    }
  }
}
