# dependencies
node_modules
.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/postgres-data
/coverage

/app/styles/tailwind.css
